# Python
__pycache__/
*.py[cod]
*.sqlite3
.env

# Django
backend/staticfiles/
backend/media/
backend/chroma_data/

# Node
frontend/node_modules/
frontend/.next/

# macOS
# macOS
.DS_Store

# Documentation
DEPLOYMENT.md
